.quiz {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    height: 100vh;
}

.title {
    text-align: center;
    margin: 0;
    padding-toP: 10px;
}

.justification {
    margin-top: 50px;
    background-color: rgb(255, 255, 159);
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.restartButton {
    padding: 15px 10px;
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #c5c5c5;
    font-size: 1rem;
}

.end {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
    .quiz {
        background-color: #333;
        color: #f9f9f9;
    }

    .justification {
        background-color: #555;
        border: 1px solid #444;
    }

    .restartButton {
        background-color: #444;
        color: #f9f9f9;
        border: 1px solid #666;
    }
}
