.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 10px;
}

.header, .globalMenu, .contextMenu, .mainContent, .ads, .footer {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    background-color: #aeaeae;
}

.headerContainer {
    display: flex;
    gap: 10px;
}

.globalMenu {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 10px;
}
.globalMenu img{
    max-width: 40px;
    cursor: pointer;
}

.header {
    flex: 1;
}

.contextMenu {
    order: 3;
}

.mainContent {
    order: 4;
    flex-grow: 1;
}

.ads {
    order: 5;
}

.footer {
    order: 6;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;

    background-color: rgb(197, 197, 197);
    border: 2px solid black;
}

.menu ul {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu ul li {
    font-size: 1.4rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .menu {
        position: static;
        background-color: transparent;
        border: none;
        height: auto;
    }

    .menu ul {
        flex-direction: row;
        justify-content: center;
    }

    .layout {
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: 
            "header header header"
            "globalMenu globalMenu ads"
            "contextMenu mainContent ads"
            "contextMenu mainContent ads"
            "contextMenu mainContent ads"
            "footer footer footer";
    }

    .headerContainer {
        display: contents;
    }

    .header {
        grid-area: header;
    }

    .globalMenu {
        grid-area: globalMenu;
        display: flex;
        align-items: center;
    }

    .contextMenu {
        grid-area: contextMenu;
    }

    .mainContent {
        grid-area: mainContent;
        padding-bottom: 500px;
    }

    .ads {
        grid-area: ads;
    }

    .footer {
        grid-area: footer;
    }

    .globalMenu img {
        display: none;
    }
}
