.commerce {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border: 1px solid #eee;
}

@media (min-width: 800px) {
    .content {
        flex-direction: row;
        gap: 20px;
    }
}