.item {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid black;
}

@media (min-width: 768px) {
    .item {
        max-width: 800px;
    }
}

@media (pointer: fine) {

    .item {
        cursor: pointer;
    }
}