.post {
    background-color: #EEEEEE;
    border: 2px solid #DDDDDD;

    display: flex;
    flex-direction: column;

    max-width: 800px;
    margin: 0 auto;
}

.postInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.postInfo img {
    max-width: 40px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.postContent {
    padding: 10px;
}

.postContent h1 {
    margin: 0;
}

.image {
    width: 100%;
}

.forumName {
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: #BBBBBB;
}

.postInteractions {
    display: flex;
    align-items: center;
}

.likes,
.commentsNumber {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.likes img,
.commentsNumber img,
.commentLikes img{
    max-width: 30px;
    cursor: pointer;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.comment {
    border-bottom: 1px solid #DDDDDD;
}

.commentLikes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comments form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comments form label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.comments form input {
    padding: 10px 0;
    text-align: center;
}

.comments form button {
    padding: 10px 0;
    background-color: #AAAAAA;
    border: #BBBBBB;
    cursor: pointer;
}

@media (min-width: 1000px) {
    .post {
        flex-direction: row;
    }
}